[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "~=2.1"
python-decouple = "*"

[dev-packages]
pytest = "*"
pytest-django = "*"
ipython = "*"
freezegun = "*"

[requires]
python_version = "3.7"
